.btn-edit {
    color: #005cbf;
}

.btn-delete {
    color: red;
}

.btn-add {
    width:100px;
    margin-bottom:10px;
}

.modal-buttons {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-buttons input {
    width:20%;
}

.modal-buttons > :not(:first-child) {
    margin-left: .25rem;
}

.modal-buttons > :not(:last-child) {
    margin-right: .25rem;
}

.welcome {
    color: #fff;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
