.finders{
margin-left: 15pt;
}
.findButton{
    height: 3.3vh;
}
#addTeam{
    margin: 18px;
}
.priorities{
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
}
.completed {
    background-color: #1dd1a1;
}
.titlePragraph{
    font-style: italic;
}